{% extends "layout.html" %}

{% block main %}
    <h1> Register</h1>
    <form action="/register" method="post">
        <br><input type="text" name="name" placeholder="Userame"></br>
        <br><input type="text" name= "password" placeholder="Password"></br>
        <br><input type="text" name= "passwordagain" placeholder="Password(again)"></br>
        <br><input type="submit"></br>
    </form>
{% endblock %}


<!--name=是用在哪邊的語法?-->
<!--register的button想要改顏色跟顯示內容-->
<!--<br>用於換行</br>-->
<!--<type="email" 會自動預設輸入內容要是mail@mail,不然不給輸入>-->